body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "OFL Sorts Mill Goudy TT", serif;
}

h2, h3 {
  color: rgb(97, 97, 97);
  font-weight: 100;
}

.nav li {
  display:inline;
  padding: 10px 20px;
}

.nav {
  min-height: 50px;
}

h3{
  display: inline;
}

.download {
  margin-left: 10px;
}

#bob {
  background-image: url("logo.png");
  width: 292px;
  height: 450px;
  position: absolute;
  right: 20px;
}

code {
  background-color: #f1f1f1;
  padding: 1px;
  border: #dddde0 solid 1px;
}

.section {
  border-bottom-color: rgb(218, 218, 218);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 20px;
  margin: 0;
}

.section:nth-child(odd) {
  background-color: rgb(249, 249, 249);
}

.nav {
  background-color: rgb(234, 234, 234);
  margin: 0;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}